$white: #fff;
$black: rgba(black, 0.87);
$gray: rgba(black, 0.54);
$light-gray: #8fa2ac;
$ultra-light-gray: rgba(black, 0.12);
$blue: #528ab9;
$green: #1bb35c;
$green-card: #20c968;
$light-green: rgba($green, 0.24);
$orange: #F5A623;
$red: #e71d32;
$strong-red: rgba(252, 56, 65, 0.87);
$yellow: #ffa500;
$gray: #8fa2ac;


// Fonts
$black-font: #6b7176;


$default-border: #dfe3e6;

