@import '~shared/styles/index';

.container {
  padding: 0;
  color: rgb(158, 158, 158);
  font-size: 12px;
  font-weight: normal;


  & :global(.public_fixedDataTableCell_cellContent) {
    padding: 0 24px 0 15px;
    text-align: left;
    justify-content: flex-start;
  }

  &.alignRight{
    & :global(.public_fixedDataTableCell_cellContent) {
      padding: 0 15px 0 24px;
      text-align: right;
      justify-content: flex-end;
    }
  }

  &.noPadding {
    padding: 0 4px;
  }
}

.sortedHeader{
  @include flexbox(row, left, center, false);

  & > .text {
    overflow: hidden;
    height: 100%;
  }

  & .iconWrapper svg {
    float: left;
  }

  &:hover{
    .iconWrapper{
      svg {
        fill: $gray !important;
      }
    }
  }

  &.active{
    // color: rgba(black, 0.87) !important;
    &:hover{
      .iconWrapper{
        svg {
          fill: $black !important;
        }
      }
    }

  }
}

.iconWrapper{
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 15px;

  @include flexbox(row, left, center);
}

.alignRight .content {
  @include flexbox(row, right, center);
  text-align: right;
}

