@import '~shared/styles/index';

.item {
	display: block;
	width: 100%;
	font-size: 13px;
	line-height: 15px;
	color: $black;
	text-align: left;
}

.andMore {
	display: block;
	width: 100%;
	font-size: 12px;
	line-height: 15px;
	color: $gray-font;
	text-align: left;
}

.inactive.container {
	opacity: 0.3;
}