@import '~shared/styles/index';


.cell {
  //padding: 0 24px;
  //line-height: 50px;
  font-size: 13px;
  color: $black-font;
  font-weight: normal;

  & :global(.public_fixedDataTableCell_cellContent) {
    justify-content: flex-start;
    text-align: left;
  }

  &.alignRight{
    & :global(.public_fixedDataTableCell_cellContent) {
      justify-content: flex-end;
      text-align: right;
    }
  }

  &.noPadding {
    padding: 0 4px;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  width: 100%;
  height: 100%;
}

.alignRight .multipleCell {
  text-align: right;
  @include flexbox(row, right, center);
}

.multipleCell{
  padding: 0 15px;
  @include flexbox(row, left, center);
  box-shadow: inset 0 -1px 0 0 #e4e4e4, inset -1px 0 0 #e4e4e4,  inset 1px 0 0 #e4e4e4;
}