@import '~shared/styles/index';

.text {
	font-size: 13px;
	line-height: 15px;
	color: $black;
	text-align: left;
}

.inactive.container {
	opacity: 0.3;
}

.blue .text {
	color: $blue;
}

.left .text {
	text-align: left;
}

.right .text {
	text-align: right;
}