@import '~shared/styles/index';

.container {
  min-height: 136px;
  max-height: 136px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  @include border-color('border_main');
  @include background-color('secondary');
}