@import '~shared/styles/index';

.violatorContainer {
  display: flex;
  flex-direction: row;
}

.block {
  width: 33%;
  font-size: 18px;
  color: $black-font;
}

.underBlock {
  font-size: 12px;
  color: $light-gray;
  margin-top: 3px;
}

.divider {
  background-color: $default-border;
  width: 1px;
  margin-right: 15px;
}