@import '~shared/styles/index';

.wrapper {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(143, 162, 172, 0.5);
  margin-bottom: 30px;
  @include background-color('secondary');
}

.container {
  padding: 20px;
}

.container.noPadding {
	padding: 0;
  @include flexbox(column, left, justify);
}


.blockHeader {
  font-size: 14px;
  font-weight: 400;
  padding: 18px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  @include color('text_dark');
  @include border-color('border_main');
}