doctype html

html
  head
    meta(charset='UTF-8')
    title Competera Price Intelligence
    style.
      html, body {
        background-color: rgba(0,0,0,0)
      }
  body
    #pi_extension
    script(src=env == 'prod' ? '/js/index.bundle.js' : 'https://localhost:3000/js/index.bundle.js')