@import '~shared/styles/index';

.container {
  position: relative;
  @include flexbox(row, left, center, false);
}

.title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 25px 25px 0;
  font-size: 30px;
  line-height: 30px;

  @include color('primary');
}

.info {
  display: block;
  font-size: 13px;
  line-height: 13px;
  padding: 0 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  @include color('text_secondary');
}

