@import '~shared/styles/index';

.container {
  padding: 10px;
  border: none;
  flex-grow: 1;
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  outline: none;
  border-radius: 0;

  @include color('text_default');

  &:hover {
    @include color('text_dark');
  }

}

.active {
  @include color('text_dark');
  @include box-shadow(0px, -3px, 0px, -1px, 'primary', true);
}
