@import '~shared/styles/index';

.noCursor {
  cursor: auto !important;
}

.title {
  font-size: 20px;
  margin: 7px 0 0 12px;
}

.container {
  position: relative;
  width: 100%;
  min-height: 102px;
}

