@import '~shared/styles/index';

.container {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 2px;

	@include border-color('border_main');
	@include flexbox(row, left, center, false);
}