@import '~shared/styles/index';


.chart :global(.highcharts-axis) { // disable tickmarks due to design
  display: none !important;
}

.chart :global(.highcharts-axis-labels) text { // disable tickmarks due to design
  fill: $black-font !important;
}


.hidden {
  display: none;
}