@import '~shared/styles/index';

.container {
  margin-left: 15px;

  &.white {
    color: $gray-font;
  }

  &.green {
    color: $white;
  }
}

.controlButton {
  background: none;
  border: none;
  padding: 5px 1px;
  font-size: 16px;
  outline: none;

  .white & {
	  color: $gray-font;
  }

  .green & {
    color: $white;
  }
}