@import '~shared/styles/index';

.dropdown {
  background-color: #fff;
  height: 35px !important;
  border-radius: 5px;
  border: 1px solid $default-border;

  & div + div {
    height: 35px !important;
    line-height: 35px !important;
    padding-left: 10px !important;
    padding-right: 30px !important;
    opacity: 1 !important;
    top: 0 !important;
    color: $black-font !important;
    font-size: 13px !important;
  }

}

