@import '~shared/styles/index';

.container {
  width: 40px;
  height: 40px;
  button {
    padding: 0 !important;
    border: none !important;
    background: transparent;
    width: 40px !important;
    height: 40px !important;
  }
  svg {
    cursor: pointer !important;
  }
}

.popover {
  position: relative;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 4px 8px 0px rgba(143, 162, 172, 0.25) !important;
  overflow: visible !important;
  transform: translateY(4px) !important;
  border-color: #dfe3e6 !important;
  &.right:after,
  &.left:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -6px;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    transform: rotate(-45deg);
    border-color: #dfe3e6;
    background-color: $white;
    z-index: -1;
  }
  &.right:after {
    right: 13px;
  }
  &.left:after {
    left: 13px;
  }
}