@mixin flexbox($direction, $horizontal-align, $vertical-align: center, $is-wraped: false) {
  display: flex;
  flex-direction: $direction;
  align-items: get-align-iems($direction, $horizontal-align, $vertical-align);
  justify-content: get-justify-content($direction, $horizontal-align, $vertical-align);
  @if $is-wraped {
    flex-wrap: wrap;
  }
}
