@mixin col-lg($cols, $has-margin: true) {
  width: calc(#{percentage($cols / 12)} - #{$gutter-lg});
  @if $has-margin {
    margin-right: ($gutter-lg / 2);
    margin-left: ($gutter-lg / 2);
  }
}

@mixin col-md($cols, $has-margin: true) {
  @media only screen and (max-width: $md) {
    width: calc(#{percentage($cols / 12)} - #{$gutter-md});
    @if $has-margin {
      margin-right: ($gutter-md / 2);
      margin-left: ($gutter-md / 2);
    }
  }
}

@mixin col-sm($cols, $has-margin: true) {
  @media only screen and (max-width: $sm) {
    width: calc(#{percentage($cols / 12)} - #{$gutter-sm});
    @if $has-margin {
      margin-right: ($gutter-sm / 2);
      margin-left: ($gutter-sm / 2);
    }
  }
}

@mixin col-xs($cols, $has-margin: true) {
  @media only screen and (max-width: $xs) {
    width: calc(#{percentage($cols / 12)} - #{$gutter-xs});
    @if $has-margin {
      margin-right: ($gutter-xs / 2);
      margin-left: ($gutter-xs / 2);
    }
  }
}

@mixin offset-lg($item-in-row, $qty-items-in-row , $offset-col, $side) {
  @media only screen and (min-width: $md) {
    &:nth-child(#{$qty-items-in-row}n+#{$item-in-row}) {
      @if $side == left {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-lg / 2});
      } @else if $side == right {
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-lg / 2});
      } @else if $side == both {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-lg / 2});
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-lg / 2});
      }
    }
  }
}

@mixin offset-md($item-in-row, $qty-items-in-row , $offset-col, $side) {
  @media only screen and (max-width: $md) and (min-width: $sm) {
    &:nth-child(#{$qty-items-in-row}n+#{$item-in-row}) {
      @if $side == left {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-md / 2});
      } @else if $side == right {
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-md / 2});
      } @else if $side == both {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-md / 2});
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-md / 2});
      }
    }
  }
}

@mixin offset-sm($item-in-row, $qty-items-in-row , $offset-col, $side) {
  @media only screen and (max-width: $sm) and (min-width: $xs) {
    &:nth-child(#{$qty-items-in-row}n+#{$item-in-row}) {
      @if $side == left {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-sm / 2});
      } @else if $side == right {
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-sm / 2});
      } @else if $side == both {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-sm / 2});
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-sm / 2});
      }
    }
  }
}

@mixin offset-xs($item-in-row, $qty-items-in-row , $offset-col, $side) {
  @media only screen and (max-width: $xs) {
    &:nth-child(#{$qty-items-in-row}n+#{$item-in-row}) {
      @if $side == left {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-xs / 2});
      } @else if $side == right {
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-xs / 2});
      } @else if $side == both {
        margin-left: calc(#{percentage($offset-col / 12)} + #{$gutter-xs / 2});
        margin-right: calc(#{percentage($offset-col / 12)} + #{$gutter-xs / 2});
      }
    }
  }
}
