$themes_colors: (
  'price_management': (
    'primary': #1bb35c,
    'secondary': #ffffff,
    'text_default': #6b7176,
    'text_secondary': #8fa2ac,
    'text_disabled': #c7d1d6,
    'text_dark': #4e5e6b,
    'text_light': #ffffff,
    'text_link': #1589ee,
    'menu_item_background': #eef1f3,
    'gray_background': #e3e7ea,
    'success': #1bb35c,
    'error': #e71d32,
    'warning': #f5a623,
    'border_main': #dfe3e6
  ),
  'competitive_data': (
    'primary': #32b2f3,
    'secondary': #ffffff,
    'text_default': #6b7176,
    'text_secondary': #8fa2ac,
    'text_disabled': #c7d1d6,
    'text_dark': #4e5e6b,
    'text_light': #ffffff,
    'text_link': #1589ee,
    'menu_item_background': #eef1f3,
    'gray_background': #e3e7ea,
    'success': #1bb35c,
    'error': #e71d32,
    'warning': #f5a623,
    'border_main': #dfe3e6
  ),
  'brand_intelligence': (
    'primary': #054a91,
    'secondary': #ffffff,
    'text_default': #6b7176,
    'text_secondary': #8fa2ac,
    'text_disabled': #c7d1d6,
    'text_dark': #4e5e6b,
    'text_light': #ffffff,
    'text_link': #1589ee,
    'menu_item_background': #eef1f3,
    'gray_background': #e3e7ea,
    'success': #1bb35c,
    'error': #e71d32,
    'warning': #f5a623,
    'border_main': #dfe3e6
  )
) !default;

$themes_fonts: (
  'price_management': (
    'font_main': ('Roboto', sans-serif),
    'font_secondary': ('Roboto Regular', sans-serif)
  ),
  'competitive_data': (
    'font_main': ('Roboto', sans-serif),
    'font_secondary': ('Roboto Regular', sans-serif)
  ),
  'brand_intelligence': (
    'font_main': ('Roboto', sans-serif),
    'font_secondary': ('Roboto Regular', sans-serif)
  )
) !default;


@mixin themify($property, $key, $is_important, $themes: $themes_colors) {
  @each $theme, $props in $themes {
    :global(.theme_#{$theme}) & {
      @if($is_important) {
        #{$property}: map-get($props, $key) !important;
      }
      @else {
        #{$property}: map-get($props, $key);
      }
    }
  }
}

@mixin color($key, $is_important: false) {
  @include themify('color', $key, $is_important);
}

@mixin fill($key, $is_important: false) {
  @include themify('fill', $key, $is_important);
}

@mixin border-color($key, $is_important: false) {
  @include themify('border-color', $key, $is_important);
}

@mixin background-color($key, $is_important: false) {
  @include themify('background-color', $key, $is_important);
}

@mixin font-family($key, $is_important: false) {
  @include themify('font-family', $key, $is_important, $themes_fonts)
}

@mixin box-shadow($top, $left, $blur, $width, $color, $inset: false, $is_important: false) {
  @each $theme, $props in $themes_colors {
    :global(.theme_#{$theme}) & {
      @if($is_important) {
        @if($inset) {
          box-shadow: $top $left $blur $width map-get($props, $color) inset !important;
        }
        @else {
          box-shadow: $top $left $blur $width map-get($props, $color) !important;
        }
      }
      @else {
        @if($inset) {
          box-shadow: $top $left $blur $width map-get($props, $color) inset;
        }
        @else {
          box-shadow: $top $left $blur $width map-get($props, $color);
        }
      }
    }
  }
}
